@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your Vehicle Management application</p>
    <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
    <a asp-area="" asp-controller="Register" asp-action="Index">Register</a>
</div>
